{{ define "main" }}

<section class="feature-list section">
  <div class="container">
    <div class="row">
    {{ range .Pages }}
        {{ .Render "li" }}
        <div class="row mb-40">
          <div class="col-md align-self-center text-center text-md-left">
            <div class="content">
              <h4 class="subheading"><a class="link-title" href="{{.Permalink}}">{{ .Title | markdownify }}</a></h4>
              <p>{{ .Summary }}</p>
            </div>
          </div>
        </div>
    {{ end }}
    </div>
  </div>
</section>

{{ end }}