{{ define "main" }}

<section class="section">
  <div class="container">
    <div class="row">
      {{ if .Params.Image }}
        <div class="col-md-5 mb-4 mb-md-0">
          <div class="sticky-image">
            <img class="img-fluid w-100" src="{{ .Params.Image | absURL }}" alt="{{ .Title }}">
          </div>
        </div>
        <div class="col-lg-6 col-md-7 offset-lg-1">
          <h1 class="mb-4">{{.Title | markdownify}}</h1>
          <div class="content">
            {{.Content}}
          </div>
        </div>
      {{ else }}
        <div class="col-lg col-md offset-lg-1">
          <h1 class="mb">{{.Title | markdownify}}</h1>
          <div class="content">
            {{.Content}}
          </div>
        </div>
      {{ end }}
    </div>
  </div>
</section>

{{ end }}